@theme "/usr/share/rofi/themes/Monokai.rasi"

configuration {
	display-window: "🪟 Windows";
	display-run: "🏃🏼‍➡️ Run";
	display-drun: "🖥️ Applications";

	font: "Hack Nerd Font Mono Medium 12";
	modi: "window,run,drun";

	show-icons: true;
	icon-theme: "Papirus";
}

prompt {
	padding: 0 12;
}

element {
	padding: 6 12;
}

element-icon {
   size: 40px;
}

element-text {
	padding: 12;
}

listview {
   lines: 8;
}
